.profiles-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 1rem;
    margin-top: 700px;
}
.profiles-container .card {
    color: black;
    width: 70px;
    height: 400px;
    flex: 0 1 calc(33.333% - 1rem); 
    margin-bottom: 20px;
}
.profiles-container .card-title {
    font-size: 24px;
    color: black;
    margin-top: -10px;
}
.profiles-container .card-text {
    font-size: 20px;
    color: black;
    margin-top: 10px;
}
.profiles-container .card-img-top {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
}
